<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <title>Title</title>
</head>
<body>
<nav class = "container-fluid" style="background: rgba(237,240,243,0.34);">
  <ul>
    <img src = "https://pluspng.com/img-png/logo-template-png-logo-templates-1655.png" alt = "icon" style="height: 40%; width: 5%">
  </ul>
  <ul>
    <a href = "./teacher_events">
      <li>Events</li>
    </a>

    <a href = "./teacher_create_event">
      <li>Home</li>
    </a>
    <a href="./logout">
      <li><button>Logout</button></li>
    </a>
  </ul>
</nav>
<main class="container">
  <article id = "fillerNameBeforeForLoop">
    <h1>Event Name</h1>
    <h6>Click Anywhere to Edit this Event</h6>
    <div class = "grid">
      <form method="POST" action = "./TBD">
        <ul>
          <div>
            <label>
              <li>Points</li>

            </label>
          </div>

          <div>
            <label>
              <li>Event Description</li>

            </label>
          </div>

          <div>
            <label>
              <li>Date</li>

            </label>
          </div>

          <div>
            <label>
              <li>Room #</li>

            </label>
          </div>

          <div>
            <label>
              <li>Advisor(s) Name</li>

            </label>
          </div>
          <!--If you're a psycho, add google maps integration-->
          <div>
            <label>
              <li>Location</li>

            </label>
          </div>

          <div>
            <label>
              <li>Location Description</li>

            </label>
          </div>

          <div>
            <label>
              <li>Sport</li>

            </label>
          </div>

          <div>
            <label>
              <li>Sport Description</li>

            </label>
          </div>
        </ul>
      </form>

      <!-- TODO: UNFINISHED FROM HERE BELOW -->

      <div>
        <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstockimages.org%2Fwp-content%2Fuploads%2F2020%2F10%2Fbigstock-Photography-Concept-African-A-381364544.jpg&f=1&nofb=1&ipt=f8cef5ef16632b29b6e55be4d9e982bbd07728bd58e5e0f6ad841b689d9e220f&ipo=images" alt = "Event Image" style="height: 50%; width: 100%">

      </div>
    </div>

    <ol>
      <button class = "contrast" value= "remove">Drop Out</button>
    </ol>
  </article>
</main>
<main class="container">
  <article id = "fillerNameBeforeForLoop">
    <h1>Event Name</h1>
    <h6>Click Anywhere to Edit this Event</h6>
    <div class = "grid">
      <form method="POST" action = "./TBD">
        <ul>
          <div>
            <label>
              <li>Points</li>

            </label>
          </div>

          <div>
            <label>
              <li>Event Description</li>

            </label>
          </div>

          <div>
            <label>
              <li>Date</li>

            </label>
          </div>

          <div>
            <label>
              <li>Room #</li>

            </label>
          </div>

          <div>
            <label>
              <li>Advisor(s) Name</li>

            </label>
          </div>
          <!--If you're a psycho, add google maps integration-->
          <div>
            <label>
              <li>Location</li>

            </label>
          </div>

          <div>
            <label>
              <li>Location Description</li>

            </label>
          </div>

          <div>
            <label>
              <li>Sport</li>

            </label>
          </div>

          <div>
            <label>
              <li>Sport Description</li>

            </label>
          </div>
        </ul>
      </form>

      <!-- TODO: UNFINISHED FROM HERE BELOW -->

      <div>
        <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstockimages.org%2Fwp-content%2Fuploads%2F2020%2F10%2Fbigstock-Photography-Concept-African-A-381364544.jpg&f=1&nofb=1&ipt=f8cef5ef16632b29b6e55be4d9e982bbd07728bd58e5e0f6ad841b689d9e220f&ipo=images" alt = "Event Image" style="height: 50%; width: 100%">

      </div>
    </div>

    <ol>
      <button class = "contrast" value= "remove">Sign Up</button>
    </ol>
  </article>
</main>
</body>
</html>